openapi: 3.0.3
info:
  title: Cast Presenter Server API
  version: 1.0.0
  description: |
    Real-time presentation streaming server for Decentraland. Accepts
    PDF/PPTX uploads, renders slides as video frames, and publishes
    them to a LiveKit room. A Google Drive proxy exposes public Drive
    files over HTTP with Range support.

    Authentication relies on LiveKit tokens issued by comms-gatekeeper.
    A valid token is required to create a presentation; the server
    validates it by connecting to the LiveKit room (fail-fast auth).

    **Presentation control is not exposed over HTTP.** Once a session
    is created, slide navigation, video playback, stop, and state
    queries all flow through the LiveKit data channel. See
    `docs/architecture.md` for the data-channel message schema
    (`presentation:navigate`, `presentation:video:play`, …).
  contact:
    name: Decentraland Foundation
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://cast-presenter-service.decentraland.org
    description: Production server
  - url: https://cast-presenter-service.decentraland.zone
    description: Development server

tags:
  - name: Health
    description: Health check
  - name: Presentations
    description: Presentation session creation (control flows via LiveKit data channel)
  - name: Drive proxy
    description: Google Drive public video proxy

paths:
  /ping:
    get:
      tags: [Health]
      summary: Health check
      responses:
        "200":
          description: Server is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: string

  /presentations:
    post:
      tags: [Presentations]
      summary: Create a presentation
      description: |
        Creates a presentation from a file upload (`multipart/form-data`)
        or a public URL (`application/json`). The server connects to
        the LiveKit room first to validate the token, then renders the
        first slide and begins publishing a video track. On success,
        all subsequent control (navigate, play, pause, stop) happens
        over the LiveKit data channel — there is no further HTTP.

        Body size limits: the multipart request must be ≤100 MB; the
        JSON request must be ≤1 MB (the downloaded file itself may be
        up to 100 MB). Actual body size is measured server-side; the
        `Content-Length` header is not trusted. The reverse proxy
        should also enforce a request body cap.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, livekitToken, livekitUrl]
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF or PPTX file (max 100 MB)
                livekitToken:
                  type: string
                  description: LiveKit JWT issued by comms-gatekeeper
                livekitUrl:
                  type: string
                  description: LiveKit server WebSocket URL (must be `wss://`)
          application/json:
            schema:
              type: object
              required: [url, livekitToken, livekitUrl]
              properties:
                url:
                  type: string
                  format: uri
                  description: >
                    Public HTTPS URL to a PDF or PPTX file (max
                    100 MB). Private, loopback, link-local, CGNAT,
                    benchmarking, and reserved IP ranges (IPv4 + IPv6)
                    are blocked via SSRF protection.
                livekitToken:
                  type: string
                  description: LiveKit JWT issued by comms-gatekeeper
                livekitUrl:
                  type: string
                  description: LiveKit server WebSocket URL (must be `wss://`)
      responses:
        "201":
          description: Presentation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PresentationInfo"
        "400":
          description: >
            Invalid content type, missing fields, invalid LiveKit URL,
            bad file magic bytes, or unsupported file type.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "413":
          description: Request body exceeds the configured size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Maximum concurrent presentations reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: >
            Unhandled server error (e.g., LiveKit connection failure,
            PDF render failure, or unexpected exception). The response
            body contains a generic message; inspect server logs for
            details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/drive-video:
    get:
      tags: [Drive proxy]
      summary: Stream a public Google Drive video
      description: |
        Proxies a public Google Drive file as a binary stream.
        Supports HTTP Range requests for seek. The file ID must
        appear in the `DRIVE_VIDEO_ALLOWED_FILE_IDS` allowlist;
        an empty or unset allowlist denies all requests.
      parameters:
        - name: fileId
          in: query
          required: true
          schema:
            type: string
            pattern: "^[a-zA-Z0-9_-]+$"
          description: Google Drive file ID
      responses:
        "200":
          description: Full file stream
          headers:
            Accept-Ranges:
              schema:
                type: string
                example: bytes
          content:
            video/*:
              schema:
                type: string
                format: binary
        "206":
          description: Partial content (range request)
          headers:
            Content-Range:
              schema:
                type: string
                example: bytes 0-1023/4096
          content:
            video/*:
              schema:
                type: string
                format: binary
        "400":
          description: Missing or invalid fileId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: File ID not in allowlist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: File not found or not accessible
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream Drive request failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string

    PresentationInfo:
      type: object
      description: Returned from `POST /presentations` on success.
      properties:
        id:
          type: string
          format: uuid
        fileName:
          type: string
        slideCount:
          type: integer
        currentSlide:
          type: integer
        fileType:
          type: string
          enum: [pdf, pptx]

    PresentationState:
      type: object
      description: >
        State payload published on the LiveKit data channel as
        `{ "type": "presentation:state", ...PresentationState }`
        and mirrored into room metadata. Not returned over HTTP.
      properties:
        id:
          type: string
          format: uuid
        fileName:
          type: string
        slideCount:
          type: integer
        currentSlide:
          type: integer
        fileType:
          type: string
          enum: [pdf, pptx]
        slideVideos:
          type: array
          items:
            $ref: "#/components/schemas/SlideVideoInfo"
        videoState:
          type: string
          enum: [idle, loading, playing, paused, error]
        videoErrorReason:
          type: string
          description: >
            Present only when `videoState` is `error`. A short,
            user-facing reason (e.g. "Video not authorized — check
            sharing permissions", "Video download timed out — file
            may be too large", or "Presentation has exceeded its
            video disk budget").
        overlay:
          $ref: "#/components/schemas/OverlayLayout"

    OverlayLayout:
      type: object
      description: >
        Where a presenter's camera bubble belongs on the slide.
        Presenters change it with
        `{ "type": "presentation:overlay:update", ... }` on the data
        channel; partial updates merge into the stored layout and an
        invalid field drops the whole command. The server only stores
        and broadcasts this layout — clients draw the bubble.
      required: [x, y, size]
      properties:
        x:
          type: number
          minimum: 0
          maximum: 1
          description: Bubble centre as a fraction of the slide width.
        y:
          type: number
          minimum: 0
          maximum: 1
          description: Bubble centre as a fraction of the slide height.
        size:
          type: string
          enum: [small, large]
          description: Bubble diameter preset.

    SlideVideoInfo:
      type: object
      properties:
        url:
          type: string
        geometry:
          type: object
          properties:
            x:
              type: integer
            y:
              type: integer
            width:
              type: integer
            height:
              type: integer
